{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8">
      <h4>Order Summary</h4>
      <hr>
      {% for item in items %} 
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.item_cost}}</p> 
        </div>
        
      </div>
      {% endfor %}
      <h3>Total Bill: {{total}}</h3>
      
    </div>
    <div class="col-md-4">
      <h4>Select Shipping Address</h4>
      <hr>
      <form action="/paymentdone">
        <div class="card">
          {% for a in add %}
          <div class="card-body border mt-2 ">
            <h4>{{a.name}}</h4>
            <p>{{a.phone}}</p>
            <p>{{a.city}}</p>
            <p>{{a.address}}</p>
            <input class="form-check-input" type="radio" value="{{a.id}}" name="custid" id="custadd{{forloop.counter}}">
            <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
              Address:{{forloop.counter}}</label>
          </div>
        </div>
        
        {% endfor %}
        <div class="text-end">
          <button type="submit" class="btn btn-primary mt-3 px-5 fw-bold">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}