{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mobiles{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group mt-3">
                <a href="{% url 'laptop' %}" class="list-group-item list-group-item-action active" aria-current="true">
                    All Laptop
                </a>
                <a href="{% url 'laptopdata' 'Dell' %}" class="list-group-item list-group-item-action">Dell</a>
                <a href="{% url 'laptopdata' 'Hp' %}" class="list-group-item list-group-item-action">Hp</a>
                <a href="{% url 'laptopdata' 'Apple' %}" class="list-group-item list-group-item-action">Apple</a>
            
            
            </div>
           
        </div>
        <div class="col-md-10 ">
            <div class="row">
                {% for lt in laptop %}
                <div class="col-md-4 mt-3 ">
                    <a href="{% url 'product-detail' lt.id %}" class="text-decoration-none">
                    <div class="card d-flex " style="width: 16rem;">
                        <img src="{{lt.product_image.url}}" class="card-img-top" alt="..." height="200px" width="200px">
                        <div class="card-body">
                            <h4 class="card-title text-center text-success">{{lt.title}}</h4>   
                        </div>
                    </div> 
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}



