{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset</h3>
            <hr>
            <p>Congratulation! Your password reset  is Done I have send the email. 
                <img src="{% static 'app/images/correct.gif' %}" alt="" srcset="" class="img-fluid" height="100px">
                <br> <br>
                <strong>Please click on link in terminal console section</strong>
            </p>


            

            </form>
        </div>
    </div>
</div>
{% endblock main-content %}