{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Complete</h3>
            <hr>
            <p>Congratulation! Your password is  Reset Done. <br> <br>
                <strong>Open login page and login </strong>
            </p>
            

            </form>
        </div>
    </div>
</div>
{% endblock main-content %}